[report]

omit = 
    setup.py
    */test_*.py

exclude_lines =
    # Remember that these are reg exp
    
    # Have to re-enable the standard pragma
    pragma: no cover
    
    raise AssertionError
    raise NotImplementedError
    raise JSError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if False:
    if __name__ == .__main__.:
    
    # Don't complain for platform specific code
    sys\.platform.startswith\(\'win\'\)
    sys\.platform.startswith\(\'darwin\'\)
    getattr\(sys, \'frozen\'\,\ None\)
    
    # Don't complain about caught import fails
    except ImportError:
