# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDEs and such
 .idea
 .vscode
 
# Specific to here
exp/html_examples.txt
flexx/resources/phosphor-all.*.js
flexx/resources/phosphor-all.*.css
_flexx-notebooks
_flexx-book
_feedstock
flexx_legacy
_phosphor-all
examples/ui/*.html

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation and website
docs/_build/
doc/_build/
_website/
_live/
_gh-pages/

# Eclipse
.settings/