include LICENSE README.md
recursive-include docs *
recursive-include demo *
recursive-include flexx README.md

prune docs/_build
prune docs/ext/__pycache__

recursive-include tasks *
recursive-include flexx/app/tests *
recursive-include flexx/event/tests *
recursive-include flexx/util/tests *

global-exclude .git*
global-exclude *.pyo
global-exclude *.pyc
