include LICENSE README.md
recursive-include docs *
recursive-include demo *
recursive-include flexx README.md

prune docs/_build
prune docs/ext/__pycache__

global-exclude .git*
global-exclude *.pyo
global-exclude *.pyc
