html {
    height: 100%;
}

body {
    background-color: #bbf;
    height: 100%;
}

.zf-widget {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.zf-hbox {
    width: 100%;
    border-spacing: 5px;
    margin: -6px;
}

.zf-vbox {
    height: 100%;
    border-spacing: 5px;
    margin: -6px;
}

.zf-hbox td, .zf-vbox td {
   //border: 1px solid black;
}

.zf-button {
    
    /*
    background: #eee;
    color: #333;
    border-radius: 3px;
    border: 1px solid #888;
    padding: 3px 6px 3px 6px;
    font-family: sans;
    font-size: smaller;
    text-align: center;
    /**/
}

td.hflex > .zf-button {
    width: 100%;
}

td.vflex > .zf-button {
    height: 100%;
}
