/* ========== Preparations ========== */

html {
    /* set height, so body can have height, and the first layout too */
    height: 100%;  
}

body {
    /* Set height so the first layout can fill whole window */
    height: 100%;
    margin: 0px;
}


/* ========== Layout ========== */

.zf-layout {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border: 0px;
}

.zf-layout > .zf-layout {
    /* A layout in a layout need to adjust using "natural size" or min-size.  */
    width: auto;
    height: auto;
}

.hcell .vcell {
    /* inter-widget spacing. padding-left/top is set to "spacing"
       on each non-first row/column in the layout. */
    padding: 0px;  
}

.zf-pinboard {
    position: relative;
}

.zf-hbox, .zf-vbox {    
    display: -webkit-flex;
    display: -ms-flexbox;  /* IE 10 */
    display: -ms-flex;     /* IE 11 */    
    display: -moz-flex;
    display: flex;
    /*
    justify-content: stretch;  /* start, end, center, space-between, space-around * /
    align-items: stretch;
    align-content: stretch;
    */    
}

.box-align-center { -webkit-align-items: center; -ms-align-items: center; -moz-align-items: center; align-items: center; }
.box-align-center { -webkit-align-items: center; -ms-align-items: center; -moz-align-items: center; align-items: center; }

.zf-hbox > .zf-hbox, .zf-hbox > .zf-vbox {
    width: auto;
}
.zf-vbox > .zf-hbox, .zf-vbox > .zf-vbox {
    height: auto;
}


.zf-hbox {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    -moz-flex-flow: row;    
    flex-flow: row;
    /*border: 1px dashed #44e;*/
    width: 100%;    
}

.zf-vbox {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;    
    -moz-flex-flow: column;    
    flex-flow: column;   
    /*border: 1px dashed #e44;*/
    height: 100%;
    width: 100%;
}

/* flexes 
.zf-hbox > div, .zf-vbox > div { -webkit-flex-grow: 1; -ms-flex-grow: 1; -moz-flex-grow: 1; flex-grow: 1; }
.flex0 { -ms-flex-grow: 0; -webkit-flex-grow: 0; flex-grow: 0; }
.flex1 { -ms-flex-grow: 1; -webkit-flex-grow: 1; flex-grow: 1; }
.flex2 { -ms-flex-grow: 2; -webkit-flex-grow: 2; flex-grow: 2; }
.flex3 { -ms-flex-grow: 3; -webkit-flex-grow: 3; flex-grow: 3; }
.flex4 { -ms-flex-grow: 4; -webkit-flex-grow: 4; flex-grow: 4; }
.flex5 { -ms-flex-grow: 5; -webkit-flex-grow: 5; flex-grow: 5; }
.flex6 { -ms-flex-grow: 6; -webkit-flex-grow: 6; flex-grow: 6; }
.flex7 { -ms-flex-grow: 7; -webkit-flex-grow: 7; flex-grow: 7; }
.flex8 { -ms-flex-grow: 8; -webkit-flex-grow: 8; flex-grow: 8; }
.flex9 { -ms-flex-grow: 9; -webkit-flex-grow: 9; flex-grow: 9; }
*/


.zf-hsplit > .zf-splitter-container {
    /* width and heigth set by JS. This is a layout boundary 
      http://wilsonpage.co.uk/introducing-layout-boundaries/ */
    overflow: hidden;
    position: absolute;
    background: #fcc;
    top: 0px;
    left: 0px;    
}

.zf-splitter-container > .zf-widget {
    position: absolute;
    height: 100%;
}

.zf-splitter-divider, .zf-splitter-ghost {
    position: absolute;
    top: 0px;
    width: 6px; /* overridden in JS */
    height: 100%;  /* todo: this is a hsplitter, I suppose */
    cursor: ew-resize;
}

.zf-splitter-divider {
    background: #eee;    
    z-index: 998;
}

.zf-splitter-ghost {    
    background: none;    
    box-shadow:  0px 0px 12px #777;
    z-index: 999;
    transition: visibility 0.25s;
}

/* Phosphor */
.p-SplitterHandle-overlay {
    box-shadow:  0px 0px 12px #777;
}

.dotransition > .zf-widget, .dotransition > .zf-splitter-divider {
    transition: left 0.3s, width 0.3s, right 0.3s;
}

/* ========== Widgets in a layout ========== */

/* In flexed cells, occupy the full space */
td.vflex > .zf-widget {
    height: 100%;
}
td.hflex > .zf-widget {
    width: 100%;
}


.zf-pinboard > .zf-widget {
    position: absolute;
}


.zf-form > tr > td > .zf-label {
    text-align: right;
}

/* ========== Widgets ========== */

.zf-widget {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.zf-label {
    /*background: #aaa;*/
}

/* ========== Appearance ========== */

body {
    background-color: #eee;
}

/*
.zf-hbox > tr > td {
   border: 1px solid red;
}
.zf-vbox > tr > td { 
    border: 1px solid blue;
}
/**/